.git
.gitignore
.DS_Store

**/.env
**/.env.*
!.env.example
!**/.env.example

node_modules
**/node_modules

dist
**/dist
.next
**/.next
coverage
**/coverage

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.turbo
.vercel
*.tsbuildinfo
